<launch>
    <!-- -->
    <!--remap from="/camera/image_mono" to="/camera/mono"/-->
    <param name="robot_description" command="$(find xacro)/xacro $(find vins)/launch/include/config/payload2.urdf.xacro --inorder" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher1" respawn="true"/>
    <node pkg="vins" type="vins_node" name="vins_estimator" output="screen" args="/home/islab/catkin_ws/src/VINS-Fusion-gpu/config/euroc/payload_down_NRC1.yaml"/>
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find vins)/../config/vins_rviz_config.rviz" />

</launch>
